/* color palette from <https://github.com/vuejs/theme> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

.c-slide-bottom {
  animation: slide-bottom 500ms ease-in-out;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
